body {
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --color-light: #ffffff;
  --color-black: #333333;
  --color-blue: #2E6BC6;
  --title-color: #242424;
}

/* =================================================================================== */
/* header */

.wrapper {
  padding-top: 90px;
}

.top-header {
  position: fixed;
  width: 100%;
  height: 90px;
  transition: height 0.3s ease;
  background-color: transparent;
  z-index: 999;
}

.hd-wrap {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 31.5px 0px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  transition: height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  z-index: 999;
}

.hd-wrap.scrolled {
  height: 60px;
  background-color: var(--color-light);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  opacity: 1;
  z-index: 999;
}

.hd-wrap.abounce {
  z-index: 99;
  transform: translateY(-100px);
  opacity: 0;
}

.hd-wrap .hd-logo {
  padding: 0px 25px;
  justify-content: center;
}

.hd-wrap .hd-menu {
  display: flex;
  justify-content: center;
}

.hd-wrap .hd-menu .menu {
  display: flex;
  align-items: center;
  margin: 0;
}

.hd-wrap .hd-menu .menu-link {
  display: block;
  color: var(--color-black);
  font-size: 13.5px;
  padding: 0 1px;
  font-weight: 500;
}

.hd-wrap .menu-item .menu-link.active {
  color: #467bcc;
}

.hd-wrap .menu-item .fa-duotone {
  opacity: 15%;
  font-size: 11px;
}

.hd-wrap .left-menu {
  width: 742px;
  padding: 0px 10px;
  gap: 35px;
}

.hd-wrap .left-menu .menu-link:hover,
.hd-wrap .hd-menu .sub-menu .nav-product:hover {
  color: #467bcc;
  transition: 0.3s;
}

.hd-wrap .right-menu {
  width: 338px;
  padding: 0px;
  gap: 20px;
  justify-content: center;
}

.hd-wrap .right-menu .menu-link #icon {
  position: relative;
  display: flex;
  font-size: 19px;
}

.hd-wrap .right-menu .count {
  position: absolute;
  color: var(--color-light);
  width: 17px;
  font-size: 10.5px;
  top: -4px;
  left: 13px;
  background-color: rgb(46, 107, 198);
  border-radius: 50%;
  text-align: center;
}

.hd-wrap .right-menu .shopping-cart {
  display: flex;
  align-items: center;
}

.hd-wrap .right-menu .menu-price {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 0px 0px 12px;
}

.hd-wrap .right-menu .menu-link:hover,
.hd-wrap .right-menu .shopping-cart:hover .menu-price,
.hd-wrap .right-menu .shopping-cart:hover .menu-link {
  color: #858585;
  transition: color 0.3s;
}

.hd-wrap .hd-menu .menu-item {
  position: relative;
  align-content: center;
  height: 26px;
}

.hd-wrap .hd-menu .menu-item .sub-menu {
  position: absolute;
  width: 210px;
  padding: 5px 10px;
  margin: 10px -0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.hd-wrap .hd-menu .menu-item .sub-menu li {
  background-color: var(--color-light);
  padding: 5px 10px;
  margin: 15px -0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.hd-wrap .hd-menu .sub-menu .nav-product {
  display: block;
  color: #858585;
  font-size: 13.5px;
  margin: 10px 5px;
  padding: 2px 5px;
}

.hd-wrap .hd-menu .left-menu .menu-item:hover>.sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ======================================================== */

.breadcrumb a {
  color: #767676;
  text-decoration: none;
  margin-inline: 8px;
  font-size: 14px;
}

.breadcrumb span {
  font-weight: bold;
  font-size: 14px;
}

.breadcrumb a::after {
  content: " / ";
  color: #999;
}

.breadcrumb a:last-child::after {
  content: "";
}

/* ======================================================== */

.gallery_product {
  max-width: 1100px;
  margin-top: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.product_imgs {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.img_display {
  overflow: hidden;
}

.img_showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img_showcase img {
  width: 100%;
  height: auto;
}

.img_select {
  display: flex;
  flex-direction: column;
  width: 88px;
  gap: 20px;
  position: absolute;
  /* Đặt vị trí tuyệt đối */
  left: 0;
  /* Đưa sát về bên trái */
  top: 40%;
  transform: translateY(-50%);
}

.img_select img {
  padding: 15px 0px;
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

.img_item:hover {
  opacity: 0.8;
}

.product_info {
  padding-bottom: 20px;
  padding-left: 100px;
  position: relative;
}

/* ============================================== */

.product_title {
  font-size: 35px;
}

.sell-price {
  font-size: 28px;
  color: var(--color-blue);
  font-weight: 600;
  font-family: "Jost-wd", Arial, Helvetica, sans-serif;
}

.label-cell {
  padding-right: 20px;
  color: #242424;
  font-size: 14px;
  font-weight: bold;
}

.color-options {
  display: flex;
}

.color-selector {
  display: flex;
  gap: 20px;
}

.color-option {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.2s ease;
  overflow: hidden;
}

.color-option img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-option:hover {
  transform: scale(1.1);
}

.stock-info {
  color: #00aa00;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Khoảng cách giữa các phần tử */
}

.maytinh {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  height: 40px;
}

.maytinh input[type="button"] {
  width: 30px;
  height: 100%;
  background-color: #f9f9f9;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.maytinh input[type="number"] {
  width: 30px;
  height: 100%;
  text-align: center;
  border: none;
  font-size: 14px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: px;
}

.action-buttons button {
  padding: 5px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: opacity 0.5s ease;
  flex: 1 1 auto;
  height: 40px;
}

.action-buttons button:hover {
  opacity: 0.9;
}

.buy-now {
  background: #1a1a1a;
  color: white;
  font-size: 13px;
  width: 170px;
}

.additional-actions {
  display: flex;
  gap: 20px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
}

.share-media {
  justify-content: flex-end;
  margin-left: auto;
}

.share-media i {
  margin-right: 7px;
}

.share-media i:last-child {
  margin-right: 0;
  /* Loại bỏ khoảng cách cho thẻ <i> cuối cùng */
}

.stock-info {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 8px;
  color: #767676;
  line-height: 1;
  font-size: 14px;
}

.stock-info span {
  color: #333;
  font-weight: 600;
  margin-inline-start: 3px;
}

.progress-bar {
  width: 200px;
  height: 7px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #0066cc;
  width: 27%;
  transition: width 0.5s ease-in-out;
}

.safe-checkout {
  color: #242424;
  padding-top: 20px;
  font-weight: 600;
  font-size: 14px;
}

.line-wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -250px;
  border: none;
  height: 1px;
  background-color: #666;
}

.single-title {
  margin-top: 35px !important;
  margin-bottom: 20px !important;
}

.single-title h4 {
  font-size: 22px;
  font-weight: 600;
  color: #242424;
}

.side-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 1.6fr;
  align-items: center;
}

.cart {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 400px;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.checkbox {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  accent-color: #2563eb;
}

.item-details {
  flex: 1;
}

.item-name {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.price {
  color: #2563eb;
  font-weight: bold;
}

.original-price {
  color: #999;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 8px;
}

.cart-summary {
  margin-top: 20px;
  padding-top: 20px;
}

.total-price {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
}

.total-original {
  color: #999;
  text-decoration: line-through;
  margin-right: 12px;
}

.total-final {
  font-size: 24px;
  color: #2563eb;
  font-weight: bold;
}

.item-count {
  color: #666;
  font-size: 12px;
  margin-bottom: 16px;
}

.add-to-cart {
  background: var(--color-blue);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  width: 170px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.add-to-cart:hover {
  background: #0066cc;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.item-gallery {
  display: flex;
}

.item-gallery img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  border-radius: 6px;
}

.list-compatibility {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  margin-top: 10px;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.list-compatibility-1 ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-compatibility-1 ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.list-compatibility-1 ul li img {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.list-content {
  font-size: 14px;
  font-weight: 550;
  color: #333333;
  font-family: "Jost-wd", Arial, Helvetica, sans-serif;
}

.another-wrapper h4 {
  font-size: 22px;
}

.content {
  font-size: 14px;
  color: #777777;
}

.review-wrapper {
  margin-top: 40px;
}

.review {
  background: var(--color-blue);
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  height: 42px;
  cursor: pointer;
}

.review:hover {
  background-color: #1e5ea5;
}

.image-review img {
  width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  border-radius: 6px;
}

.column1 {
  margin-top: 120px;
}

.video-wrapper {
  margin-top: 40px;
}

.video-container {
  position: relative;
}

.video-container img {
  height: auto;
  width: 100%;
  border: 0;
  vertical-align: middle;
  border-radius: 6px;
}

#myVideo {
  display: none;
  /* Ẩn video ban đầu */
}

.thumbnail {
  width: 100%;
  cursor: pointer;
}

.infobox {
  display: flex;
  gap: 20px;
}

.contentbox {
  font-size: 16px;
}

.contentbox p {
  font-size: 14px;
}

.last-review {
  margin-top: 40px;
}

.first-review {
  margin-top: 40px;
}

.review-container {
  display: flex;
  gap: 20px;
}

.left-column,
.right-column {
  flex: 1;
}

.title-right-column {
  font-size: 14px;
  color: #242424;
  font-family: "hkgroteskpro", Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.comment-notes {
  font-size: 13px;
  color: #777777;
  font-family: "hkgroteskpro", Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.comment-form-rating {
  line-height: 1;
  margin-bottom: 15px;
  align-items: center;
  font-size: 14px;
  display: flex;
}

.comment-form-comment {
  display: block;
  margin-bottom: 15px;
  color: #242424;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 190px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.required {
  border: none;
  color: #e01020;
  font-size: 16px;
  line-height: 1;
}

.comment-form-author {
  display: block;
  margin-bottom: 30px;
  color: #242424;
  font-size: 14px;
}

.comment-form-author input {
  width: 100%;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-form-email {
  display: block;
  margin-bottom: 10px;
  color: #242424;
  font-size: 14px;
}

.comment-form-email input {
  width: 100%;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-form-cookies-consent input {
  vertical-align: middle;
  margin-inline-end: 5px;
}

.comment-form-cookies-consent label {
  display: inline;
  margin-bottom: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.form-submit input {
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-blue);
  padding: 5px 20px;
  border: 2px solid var(--color-blue);
  border: 2px solid var(--color-blue);
  transition: all 0.25s ease;
}

.form-submit [type="submit"]:hover {
  background-color: #0066cc;
}

.customer-reviews {
  margin-top: 40px;
}

.reviews-title {
  font-size: 20px;
  font-family: "hkgroteskpro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.review-title {
  font-size: 12px;
  font-family: "hkgroteskpro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.review-note {
  font-size: 12px;
  font-family: "hkgroteskpro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #777777;
}

.relate-product {
  margin-top: 40px;
  margin-bottom: 40px;
}

.rating {
  display: flex;
  font-size: 13px;
  color: #ccc;
  cursor: pointer;
  margin-left: 15px;
}

.rating .fa-star {
  margin-right: 0.25rem;
}

.rating .fa-star.active {
  color: #ffc107;
  /* Yellow color for active stars */
}

/* =================================================================================== */
/* Begin related product copy tu Min qua */
.product-item {
  display: flex;
  width: 234px;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.product-hover {
  position: relative;
}

.product-item:hover .menu-hover {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  transform: translateX(-5px);
}

.product-item:hover .btn-cart {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  transform: translateY(-5px);
}

.menu-hover,
.btn-cart {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s, transform 0.2s ease;
  transform: translateY(0px);
}

.menu-hover i {
  color: #000000;
}

.menu-hover i:hover {
  color: #656565;
}

.product-item img {
  width: 100%;
}

.menu-hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.product-item .menu-hover .menu-link i {
  display: block;
  font-size: 20px;
  width: 45px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.product-item .product-info .product-name a {
  display: block;
  color: #414141;
  height: 26.6px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.product-item .product-info .product-name a:hover {
  color: #858585;
}

.product-item .product-info .product-category a {
  display: block;
  color: #9d9c9c;
  font-size: 13px;
  transition: color 0.3s ease;
}

.product-item .product-info .product-category a:hover {
  color: #333333;
}

.product-item .product-info .product-price {
  color: var(--color-blue);
  font-size: 14px;
  font-weight: 500;
}

.btn-cart {
  position: absolute;
  color: #ffffff;
  font-size: 13.5px;
  font-weight: bold;
  padding: 7px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  background-color: rgb(46, 107, 198);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* End related product copy tu Min qua */

/* =================================================================================== */
/* Begin Frequently Bought Together copy tu Min qua */
.pop-product {
  display: flex;
  width: 234px;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.pop-product-hover {
  position: relative;
}

.label-product {
  position: absolute;
  top: 10px;
  left: 10px;
}

.label-product .hot {
  display: flex;
  background-color: #e22d2d;
  color: var(--color-light);
  font-size: 15px;
  font-weight: 600;
  padding: 11px 8.5px;
  text-transform: uppercase;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.label-product .new {
  display: flex;
  background-color: #438e44;
  color: var(--color-light);
  font-size: 15px;
  font-weight: 600;
  padding: 12px 7.5px;
  text-transform: uppercase;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.label-product .sale {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-light);
  font-size: 15px;
  font-weight: 600;
  padding: 12px 7.5px;
  text-transform: uppercase;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.pop-product:hover .menu-hover {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  transform: translateX(-5px);
}

.pop-product:hover .btn-cart {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  transform: translateY(-10px);
}

.pop-product img {
  width: 100%;
}

.pop-product .menu-hover .menu-link i {
  display: block;
  font-size: 20px;
  width: 45px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.pop-product .pop-product-info .pop-product-name a {
  display: block;
  color: #414141;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.pop-product .pop-product-info .pop-product-name a:hover {
  color: #858585;
}

.pop-product .pop-product-info .pop-product-category a {
  display: block;
  color: #9d9c9c;
  margin-bottom: 7px;
  font-size: 13px;
  transition: color 0.3s ease;
}

.pop-product .pop-product-info .pop-product-category a:hover {
  color: #333333;
}

.pop-product .pop-product-info .pop-product-price {
  color: var(--color-blue);
  font-size: 14px;
  font-weight: 500;
}

.pop-product-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* End Frequently Bought Togethercopy tu Min qua */

/* =================================================================================== */
/* footer */

.footer {
  background-color: #101010;
}

.ft-wrap {
  position: relative;
  display: flex;
  height: 105px;
  align-items: center;
  justify-content: space-between;
}

.ft-wrap a:hover {
  color: #cdcdcd;
  transition: 0.25s;
}

.ft-wrap img {
  width: 180px;
  height: auto;
}

.ft-coppyright {
  display: flex;
  color: #f3f3f3;
}

.ft-coppyright .ft-coppyright-describe {
  display: flex;
  color: #cdcdcd;
  font-size: 13.5px;
  font-weight: 500;
}

.ft-coppyright-describe a {
  color: #cdcdcd;
}

.ft-coppyright-describe a:hover {
  color: #f3f3f3;
  transition: 0.25s;
}

.ft-coppyright-describe p {
  margin: 0px;
}

.ft-menu .menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.ft-menu .menu-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ====================================================== */
/* go-top-btn */

.go-top-btn .btn-show {
  opacity: 1;
  transform: none;
  pointer-events: visible;
}

.go-top-btn {
  position: fixed;
  display: flex;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  backface-visibility: hidden;
  transform: translateX(100%);
  z-index: 999;
}

.go-top-btn.visible {
  opacity: 1;
  pointer-events: visible;
  transform: translateX(0);
}