/* =================================================================================== */
/* Đức Hiếu */
/* shopping cart */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* =================================================================================== */
/* header */

.wrapper {
  padding-top: 90px;
}

.top-header {
  position: fixed;
  width: 100%;
  height: 90px;
  transition: height 0.3s ease;
  background-color: transparent;
  z-index: 999;
}

.hd-wrap {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 31.5px 0px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  transition: height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  z-index: 999;
}

.hd-wrap.scrolled {
  height: 60px;
  background-color: var(--color-light);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  opacity: 1;
  z-index: 999;
}

.hd-wrap.abounce {
  z-index: 99;
  transform: translateY(-100px);
  opacity: 0;
}

.hd-wrap .hd-logo {
  padding: 0px 25px;
  justify-content: center;
}

.hd-wrap .hd-menu {
  display: flex;
  justify-content: center;
}

.hd-wrap .hd-menu .menu {
  display: flex;
  align-items: center;
  margin: 0;
}

.hd-wrap .hd-menu .menu-link {
  display: block;
  color: var(--color-black);
  font-size: 13.5px;
  padding: 0 1px;
  font-weight: 500;
}

.hd-wrap .menu-item .menu-link.active {
  color: #467bcc;
}

.hd-wrap .menu-item .fa-duotone {
  opacity: 15%;
  font-size: 11px;
}

.hd-wrap .left-menu {
  width: 742px;
  padding: 0px 10px;
  gap: 35px;
}

.hd-wrap .left-menu .menu-link:hover,
.hd-wrap .hd-menu .sub-menu .nav-product:hover {
  color: #467bcc;
  transition: 0.3s;
}

.hd-wrap .right-menu {
  width: 338px;
  padding: 0px;
  gap: 20px;
  justify-content: center;
}

.hd-wrap .right-menu .menu-link #icon {
  position: relative;
  display: flex;
  font-size: 19px;
}

.hd-wrap .right-menu .count {
  position: absolute;
  color: var(--color-light);
  width: 17px;
  font-size: 10.5px;
  top: -4px;
  left: 13px;
  background-color: rgb(46, 107, 198);
  border-radius: 50%;
  text-align: center;
}

.hd-wrap .right-menu .shopping-cart {
  display: flex;
  align-items: center;
}

.hd-wrap .right-menu .menu-price {
  color: #333333;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 0px 0px 12px;
}

.hd-wrap .right-menu .menu-link:hover,
.hd-wrap .right-menu .shopping-cart:hover .menu-price,
.hd-wrap .right-menu .shopping-cart:hover .menu-link {
  color: #858585;
  transition: color 0.3s;
}

.hd-wrap .hd-menu .menu-item {
  position: relative;
  align-content: center;
  height: 26px;
}

.hd-wrap .hd-menu .menu-item .sub-menu {
  position: absolute;
  width: 210px;
  padding: 5px 10px;
  margin: 10px -0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.hd-wrap .hd-menu .menu-item .sub-menu li {
  background-color: var(--color-light);
  padding: 5px 10px;
  margin: 15px -0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.hd-wrap .hd-menu .sub-menu .nav-product {
  display: block;
  color: #858585;
  font-size: 13.5px;
  margin: 10px 5px;
  padding: 2px 5px;
}

.hd-wrap .hd-menu .left-menu .menu-item:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* =================================================================================== */

/* =================================================================================== */
/* End header */

/* Thiết lập nền và căn chỉnh tiêu đề */
.wd-page-title {
  background-color: #080a0a;
  background-image: url(/Project-FrontEnd/img/img-page/anhcuaDucHieu/accessories-page-titleshoppingcart.jpg); /* Link ảnh nền */
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  text-align: center;
}

.wd-checkout-steps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px 15px;
  font-size: 22px;
}

.wd-checkout-steps li {
  color: #ffffff;
  font-weight: 600;
}

.step-cart.step-active a {
  text-decoration: underline 2px solid #2e6bc6;
  text-underline-offset: 6px;
  display: inline-block;
}

.step-cart.step-active a,
.step-cart.step-active span {
  color: #ffffff;
}

.step-checkout a:hover span {
  color: #fff; /* Đổi màu chữ thành trắng */
  transition: 0.5s;
}

.step-inactive a,
.step-inactive span {
  color: rgba(255, 255, 255, 0.6);
}

.wd-checkout-steps li a {
  text-decoration: none;
  color: inherit;
}

.wd-checkout-steps li span {
  margin-right: 10px;
}

/* Dấu mũi tên giữa các bước */
.wd-checkout-steps li::after {
  content: "→";
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  font-size: 24px;
}

.wd-checkout-steps li:last-child::after {
  content: "";
}

/* =================================================================================== */

/* .col-md-4 {
  padding-left: 100px;
} */

.woocomerce-layout {
  padding-block: 40px;
}

.progress-msg-cart {
  font-size: 14px;
  color: #777777;
}

.progress-area {
  width: 100%;
  height: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar-cart {
  height: 100%;
  background-color: #0066cc;
  transition: width 0.5s ease-in-out;
  border-radius: 8px;
}

.wd-progress-bar {
  padding: 20px;
  border: 2px dashed rgba(0, 0, 0, 0.105);
  border-radius: 8px;
}

.woocommerce-Price-amount {
  color: rgb(46, 107, 198);
  font-weight: 600;
}

.wd-shipping-progress-bar-bordered {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.4;
}

table th {
  padding: 15px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.075);
  color: #242424;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

th.product-name {
  text-align: start;
  width: 50%;
}

th.product-remove {
  width: 40px;
}

td.product-remove {
  padding: 0;
  text-align: center;
}

th:is(.product-remove, .product-thumbnail) {
  font-size: 0;
}

span.screen-reader-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  transform: scale(0);
  overflow: hidden; /* Đảm bảo ẩn toàn bộ nội dung */
}

.shop-table-cart tr :is(td, th):last-child {
  padding-inline-end: 0;
  text-align: end;
}

.shop-table-cart tr :is(td, th):first-child {
  padding-inline-start: 0;
}

table td {
  padding: 15px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
  vertical-align: middle;
  text-align: start;
}

td.product-remove a {
  font-size: 20px;
  color: #333333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

td.product-name a {
  display: inline-block;
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-weight: 600;
}

td.product-price > .amount {
  color: #777777;
}

.product-quantity {
  padding-left: 30px;
}

td.product-thumbnail img {
  width: 80px;
}

.maytinh {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  height: 42px;
}

.maytinh input[type="button"] {
  width: 30px;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.maytinh input[type="number"] {
  width: 30px;
  height: 100%;
  text-align: center;
  border: none;
  font-size: 14px;
}

.wd-cart-action-row {
  display: flex;
}

.actions-coupon-form {
  border: none;
}

.coupon-form {
  position: absolute;
  display: flex;
}

.coupon-form input {
  flex-grow: 1;
  margin-right: 10px;
  width: 230px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.coupon-form input:focus {
  outline: none;
  box-shadow: none;
}

.coupon-form button {
  background-color: rgb(46, 107, 198);
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 13px;
  padding: 5px 20px;
  font-weight: 600;
}

.coupon-form button:hover {
  background-color: #0066cc;
}

.cart-totals-inner {
  border: 5px solid rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  width: 440px;
  height: auto;
  padding: 25px;
}

.cart-totals-inner h2 {
  font-size: 22px;
}

.shop-table-responsive tr :is(td, th):last-child {
  text-align: end;
}

table :is(tbody, tfoot) th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
  text-transform: none;
  font-size: 14px;
  text-align: start;
}

.cart-totals-inner table .cart-subtotal .amount {
  color: #777777;
  font-weight: 400;
}

.woocommerce-shipping-totals {
  font-size: 14px;
  color: #242424;
}

.woocommerce-shipping-methods li {
  margin-bottom: 10px; /* Khoảng cách giữa các mục */
}

.woocommerce-shipping-destination {
  color: #777777;
}

strong {
  font-weight: 700;
}

.shipping-calculator-button {
  color: rgb(46, 107, 198);
  font-weight: 600;
}

.woocommerce-Price-amount {
  font-size: 20px;
}

.wc-proceed-to-checkout button {
  background-color: rgb(46, 107, 198);
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 13px;
  padding: 13px 20px;
  font-weight: 600;
  width: 100%;
}

.wc-proceed-to-checkout button:hover {
  background-color: #0066cc;
}

/* =================================================================================== */
/* footer */

.footer {
  background-color: #101010;
  margin-top: auto;
}

.ft-wrap {
  position: relative;
  display: flex;
  height: 105px;
  align-items: center;
  justify-content: space-between;
}

.ft-wrap a:hover {
  color: #cdcdcd;
  transition: 0.25s;
}

.ft-wrap img {
  width: 180px;
  height: auto;
}

.ft-coppyright {
  display: flex;
  color: #f3f3f3;
}

.ft-coppyright .ft-coppyright-describe {
  display: flex;
  color: #cdcdcd;
  font-size: 13.5px;
  font-weight: 500;
}

.ft-coppyright-describe a {
  color: #cdcdcd;
}

.ft-coppyright-describe a:hover {
  color: #f3f3f3;
  transition: 0.25s;
}

.ft-coppyright-describe p {
  margin: 0px;
}

.ft-menu .menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.ft-menu .menu-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
